.post-overview{
  border:1px solid rgb(210, 210, 210);
  border-radius: 5px;
  background-color: rgba(250, 250, 250, 0.8);
  margin: 5px 5px 10px 5px;
  padding: 5px;
  .unlink{
    text-decoration: none;
    color: black
  }
  .post__picture{
    display: flex;
    justify-content: center;
  }
  .post__content{
  text-align: start;
  margin: 10px 5px 0px 5px;
  padding: 10px;
  border:1px solid rgb(210, 210, 210);
  border-radius: 5px;    
  background-color: white;
    h2{
      margin:0;
      margin-bottom: 5px;
    }
    img{
      max-width: 100%;
    }
    p{
      margin: 0;
    }
  }
  figure{
    margin:0px;
  }
.post__info{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    .owner{
      display: flex;
      align-items: center;
      &__avatar{
        border-radius: 25px;
        border:1px solid rgb(210, 210, 210);
        height: 50px;
        width: 50px;
        object-fit: cover;
        margin-right:5px;
      }
      &__details{
        padding-left: 10px;
        text-align: start;
      }
      &__release{
        color:#7a7f82;
      }
      &__username{
        font-weight: 600;
        color: #3F4156;
      }
    }
  }
}